@model IList<Odev.Web.ViewModels.RandomUserViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="content">

    <div>
        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
        {
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Kullanıcı ID</th>
                            <th>İsim</th>
                            <th>Telefon</th>
                            <th>Kullanıcı İsmi</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.Count; j++)
                        {
                            <tr>
                                <td>@Html.EditorFor(model => model[j].Id, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model[j].Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model[j].PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model[j].UserName, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.EditorFor(model => model[j].Email, new { htmlAttributes = new { @class = "form-control" } })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <input type="submit" id="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        }
    </div>

</div>

